{% extends 'base.html' %}

{% block content %}
{% include 'materialnavbar.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="mb-4">{{ delete_title }}</h2>
            <p class="mb-4">{{ delete_message }}</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger me-2">Yes, Delete</button>
                <a href="{{ cancel_url }}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
