{% extends 'base.html' %}
{% block extra_head %}
<script src="https://unpkg.com/vue@next"></script>
{% endblock %}
{% block content %}
{% include 'materialnavbar.html' %}
<form method="post" action="{% url 'layerstructure_create' %}">  
  {% csrf_token %}
<div id="app"> 
  <div class="form-group">
    <label for="layerstructureName">Name:</label>
    <input type="text" id="layerstructureName" name="name" class="form-control" required>
  </div>
    <div v-for="(selectedMaterial, index) in selectedMaterials" :key="index">
        <select v-model="selectedMaterials[index]">
            <option v-for="material in allMaterials" :value="material.id" :key="material.id">
                [[ material.name ]]
            </option>
        </select>
        <button type="button" @click="removeMaterial(index)">Remove</button>
    </div>
    <button type="button"  @click="addMaterial">Add Material</button>
    <input type="hidden" name="ordered_material_ids" :value="selectedMaterials.join(',')">
</div>
<button type="submit">Submit</button>
</form>
<script>
const { ref } = Vue;
const all_materials = JSON.parse(`{{ all_materials_json|safe }}`);
console.log(all_materials);
const app = Vue.createApp({
    delimiters: ['[[', ']]'],
    setup() {
        const allMaterials = ref(all_materials);
        const selectedMaterials = ref([]);

        function addMaterial() {
            if (allMaterials.value.length > 0) {
                selectedMaterials.value.push(allMaterials.value[0].id);
            }
        }

        function removeMaterial(index) {
            selectedMaterials.value.splice(index, 1);
        }

        return {
            allMaterials,
            selectedMaterials,
            addMaterial,
            removeMaterial,
        };
    },
});
app.mount("#app");
</script>
{% endblock %}
