{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
{% include 'select2/select2_head.html' %}
{% endblock %}

{% block content %}{% load static %}
{% load render_bundle from webpack_loader %}
<script  type="text/javascript">
    window.formset_fields = {{ formset_fields | safe }};
    window.formsetName =  "{{ formset_name }}";
    window.points = {{ formset_initial | safe }}
    window.upload_excel_flag = {{ upload_excel_flag|yesno:"true,false" }};

</script>
{% include 'materialnavbar.html' %}

<div class="container mt-5" id="app">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="mb-4">{{ form_title }}</h1>
            {% if display_context %} 
            <div class="mt-4 mb-4"> 
                {% for key, value in display_context.items %}
                    <b>{{ key|title }}: </b>{{ value }}
                    <br>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post" class="mt-4">
                {% csrf_token %}
                <div class="mb-3">
                    {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}
                            {% if field.help_text %}
                            ({{ field.help_text }})
                            {% endif %}
                        </label>
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>

                <!-- Formset and Excel upload for Create and Update Views -->
                {% if formset %}
                {{ formset.management_form }}
               <div id="formsetTableVue"></div>
                {% endif %}

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
{% if formset %}
{% render_bundle 'chunk-vendors' %} {% render_bundle 'formsetTableVue' %}
{% endif %}
{% include 'select2/select2_mount.html' %}
{% endblock %}
