{% extends 'list_templates/base_list.html' %}

{% block list_title %}Coldforming Material Data{% endblock %}

{% block table_headers %}
    <th>Coldform Data ID</th>
    <th>Material ID</th>
    <th>Material Name</th>
    <th># YM CD</th>
    <th># YM MD</th>
    <th># Tensile CD</th>
    <th># Tensile MD</th>
    <th># Drucker Prager CD</th>
    <th># Drucker Prager MD</th>
    <th>Actions</th>
{% endblock %} 

{% block table_body %}
    {% for data in object_list %}
    <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.material.id }}</td>
        <td>{{ data.material.name }}</td>
        <td>{{ data.YM_CD_count }}</td> 
        <td>{{ data.YM_MD_count }}</td> 
        <td>{{ data.tensile_CD_count }}</td> 
        <td>{{ data.tensile_MD_count }}</td>
        <td>{{ data.drucker_prager_CD_count }}</td> 
        <td>{{ data.drucker_prager_MD_count }}</td> 
        <td>
            <a href="{% url 'coldformingdata_delete' data.pk %}">Delete</a> |
            <a href="{% url 'coldformingdata_update' data.pk %}">Edit</a> |
            <a href="{% url 'coldformingdata_detail' data.pk %}">Summary</a>
        </td>
    </tr> 
    {% endfor %}
{% endblock %}

{% block additional_actions %}
    <a href="{% url 'coldformingdata_create' %}" class="btn btn-primary">Add New Data</a>
{% endblock %}
