{% extends "list_templates/base_list.html" %} {% block list_title %}Layer
Structures {% endblock list_title%} {% block table_headers %}
<th>Layer Structure ID</th>
<th>Name</th>
<th>Materials</th>
<th>Coldforming Cavity</th>
<th>Thermoforming Cavity</th>
<th>Thermoforming Lid</th>
<th>Actions</th>
{% endblock %} {% block table_body %} {% for layerstructure in object_list %}
<tr>
  <td>{{ layerstructure.id }}</td>
  <td>{{ layerstructure.name }}</td> 
  <td>
    {% for material in layerstructure.ordered_materials %}{{ material }} {% if not forloop.last %}, {% endif %} {% endfor %}
  </td>
  <td> {{layerstructure.released_for_coldforming}} | {{ layerstructure.is_available_for_coldforming }}</td>
  <td> {{layerstructure.released_for_thermoforming}} | {{ layerstructure.is_available_for_thermoforming }}</td>
  <td> {{layerstructure.released_for_thermoforming_lid}} | {{ layerstructure.is_available_for_thermoforming_lid }}</td>
  <td>
    <a href="{% url 'layerstructure_update' layerstructure.pk %}">Update</a> |
    <a href="{% url 'layerstructure_delete' layerstructure.pk %}">Delete</a>
  </td>
</tr>
{% endfor %} {% endblock %} {% block additional_actions %} 
<a href="{% url 'layerstructure_create' %}" class="btn btn-primary"
  >Add New Layer Structure</a
>
{% endblock %}
