{% extends 'list_templates/base_list.html' %}

{% block list_title %}Thermoforming Lid Material Data{% endblock %}

{% block table_headers %}
    <th>Thermoform Data ID</th>
    <th>Material ID</th>
    <th>Material Name</th>
    <th># WVTR</th>
    <th># OTR</th>
    <th>Actions</th>
{% endblock %} 

{% block table_body %}
    {% for data in object_list %}
    <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.material.id }}</td>
        <td>{{ data.material.name }}</td>
        <td>{{ data.wvtr_count }}</td>
        <td>{{ data.otr_count }}</td>
        <td>
            <a href="{% url 'thermoformingliddata_delete' data.pk %}">Delete</a> |
            <a href="{% url 'thermoformingliddata_update' data.pk %}">Edit</a> |
            <a href="{% url 'thermoformingliddata_detail' data.pk %}">Summary</a>
        </td>
    </tr> 
    {% endfor %}
{% endblock %}

{% block additional_actions %}
    <a href="{% url 'thermoformingliddata_create' %}" class="btn btn-primary">Add New Data</a>
{% endblock %}
