{% extends 'list_templates/base_list.html' %}

{% block list_title %}Thermoforming Plug{% endblock %}

{% block table_headers %}
  <th>Plug Material ID</th>
  <th>Name</th>
  <th>Friction Coefficient ({{field_units.friction_coefficient}})</th>
  <th>Actions</th>
{% endblock %}

{% block table_body %}
  {% for data in object_list %}
    <tr>
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{data.friction_coefficient}}</td>
      <td>
        <a href="{% url 'thermoformingplug_update' data.pk %}">Edit</a> | 
        <a href="{% url 'thermoformingplug_delete' data.pk %}">Delete</a>
      </td>
    </tr>
  {% endfor %}
{% endblock %}

{% block additional_actions %}
  <a href="{% url 'thermoformingplug_create' %}" class="btn btn-primary">Add New Plug Material</a>
{% endblock %}
