
{% extends 'base.html' %}
{% block content %}
{% include 'materialnavbar.html' %}
<div class="container my-4">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Thermoforming Lid Material Data for {{ object.material.name }}  <a href="{% url 'thermoformingliddata_api' object.pk %}" class="btn btn-outline-secondary btn-sm">API View</a></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card"> 
        <div class="card-header">
          <h3>WVTR</h3>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Temperature </th>
              <th> RH </th>
              <th> WVTR </th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            {% for data in wvtr_data %}
            <tr>
              <td>  {{ data.temperature }} </td>
              <td> {{ data.RH}} </td>
              <td> {{ data.WVTR}} </td>
              <td> <a href="{% url 'wvtrdata_update' data.pk %}" class="btn btn-outline-secondary btn-sm">Edit</a> </td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card"> 
        <div class="card-header">
          <h3>OTR</h3>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Temperature </th>
              <th> RH </th>
              <th> OTR </th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            {% for data in otr_data %}
            <tr>
              <td>  {{ data.temperature }} </td>
              <td> {{ data.RH}} </td>
              <td> {{ data.OTR}} </td>
              <td> <a href="{% url 'otrdata_update' data.pk %}" class="btn btn-outline-secondary btn-sm">Edit</a> </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</div>

  
{% endblock %} 
